
@model ModalHelp.DBContent.Views

<div label-grid="row" tgcolumns="row">
    <div class="alingVcenter">
        @Model.Name
    </div>
    <div class="alingVcenter">
        <i class="fas fa-file-alt"></i>
    </div>
    <div class="alingVcenter">
        <i class="fas fa-times"></i>
    </div>
</div>