body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.buttonCreate {
    color: white;
    background-color: mediumseagreen;
    border: solid 2px seagreen;
    transition: background-color 2s, border 2s;
}

.buttonCreate:hover{
    color: white;
    background-color: seagreen;
    border: solid 2px mediumseagreen;
}

.buttonDelete {
    color: white;
    background-color: indianred;
    border: solid 2px #8f4040;
    transition: background-color 2s, border 2s;
}

.buttonDelete:hover{
    color: white;
    background-color: #8f4040;
    border: solid 2px indianred;
}
